beautifulsoup4==4.12.3
charset-normalizer==3.4.1
colorama==0.4.6
decorator==5.1.1
fastjsonschema==2.21.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
pipreqs
pure_eval==0.2.3
Pygments==2.18.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
pywin32==308
soupsieve==2.6
urllib3==2.3.0
webencodings==0.5.1
yarg==0.1.9
pyinstaller